@tailwind base;
@tailwind components;
@tailwind utilities;


section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.image {
  position: relative;
  width: 50%;
  height: 100%;
}

.image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(190deg, #ff6600, #badbe2);
  z-index: 1;
  mix-blend-mode: screen;
  opacity: 100%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.form {
  width: 50%;
}

.form h2 {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid #ff6600;
  letter-spacing: 1px;
  display: inline-block;
  color: #001c2a;
}

.input {
  margin-bottom: 20px;
}

.input span {
  font-size: 16px;
  margin-bottom: 5px;
  color: #001c2a;
  display: inline-block;
  letter-spacing: 1px;
}

.input input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  letter-spacing: 1px;
  color: #001c2a;
  background: transparent;
  border-radius: 30px;
  border: 1px solid #001c2a;
}

#submit-button {
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 500;
  background-color: #ff6600;
}

#submit-button:hover {
  background-color: #cb5201;

}

#submit-button:active {
  transform: scale(0.9);
  transition: 0.2s;
}

.remember-me {
  margin-bottom: 20px;
  color: #001c2a;
  font-weight: 400;
}

.input p {
  color: #001c2a;
}

.input p a {
  color: #ff6600
}

.form h3 {
  color: #001c2a;
  text-align: center;
  margin: 50px 0 10px;
  font-weight: 500;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media li img {
  width: 50px;
  height: 50px;
  transform: scale(0.5);
  filter: invert(1);

}

.social-media li {
  list-style: none;
  justify-content: center;
  align-self: center;
  background-color: #001c2a;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
  width: 50px;
  height: 50px;
}

.social-media li:hover {
  background-color: #ff6600;
}

.social-media li:active {
  background-color: #ff6600;
  transform: scale(0.9);
}

@media(max-width:768px) {
  .image {
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
  }

  .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1;

  }

  .form {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.678);
      padding: 20px;
  }

}